{% load static %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"  href="{%  static  '/css/homestyle.css'  %}">
 <title>{% block title %} Hostel Booking {% endblock %}</title>
<script src="{%  static 'javascript/jquery.js' %}"></script>
<script src="{%  static 'javascript/jspdf.js' %}"></script>
<script src="{%  static 'javascript/html2pdf.js' %}"></script
</head>
<body class="loggedin">
<nav class="navtop">
<div>
<h1>Hostels</h1>
<a href="{% url 'home' %}">Home</a>
{% if user.is_authenticated %}
<a href="{% url 'booking' %}?email={{ user.email}}">My bookings</a>
<a href="{% url 'logout' %}">Log Out</a>
{%  else %}
<a href="{% url 'login' %}">Log In</a>
<a href="{% url 'signup' %}">Register</a>
{% endif %}
</div>
</nav>
  <div class="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>