{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{%block content%}
{% if user.is_authenticated %}
<div>
<button id="download" style="align:left;vertical-align:top;">Download Receipt</button>
<div id="todownload">
{%  for booking in bookings %}
<h3>TENANT FULL NAME</h3>
{{ booking.first_name}} {{ booking.last_name }}
<h3>HOSTEL NAME</h3>
{{ booking.hostel }}
<h3>ROOM NUMBER</h3>
{{ booking.room }}
<h3>DATE BOOKED</h3>
{{ booking.created_at }}
<h3>RECEIPT NO</h3>
{{ booking.booking_id }}
{% endfor%}
</div>
<div id="editor"></div>
</div>
<script>
$('#download').click(function () {
var doc = new jsPDF();
var specialElementHandlers = {
    '#editor': function (element, renderer) {
        return true;
    }
};
    doc.fromHTML($('#todownload').html(), 15, 15, {
        'width': 170,
            'elementHandlers': specialElementHandlers
    });
    doc.save('{{ user.profile.first_name}} {{ user.profile.last_name}}.pdf');
});
</script>
{%  endif %}
{%  endblock %}