<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="col-md-6">
        <h4 class="text-uppercase"> WRITE YOUR REVIEW </h4>
        <form class="review-form" action="/review/addcomment" method="post">
            <div class="form-group">
                <input name="subject" class="input" placeholder="your subject" type="text">
            </div>
            <div class="form-group">
                <input class="input" placeholder="email address" type="email">
            </div>
            <div class="form-group">
                <textarea  name="comment"  class="input" placeholder="your review" > </textarea>
            </div>
            <div class="form-group">
                <div class="input-rating">
                    <strong class="text-uppercase">Your rating</strong>
                    <div class="stars">
                        <!-- <input type="radio" id="star5" name="rate" value="5"/><label for="star5"></label>
                        <input type="radio" id="star4" name="rate" value="4"/><label for="star4"></label>
                        <input type="radio" id="star3" name="rate" value="3"/><label for="star3"></label>
                        <input type="radio" id="star2" name="rate" value="2"/><label for="star2"></label>
                        <input type="radio" id="star1" name="rate" value="1"/><label for="star1"></label> -->
                        <button type="submit" class="fa fa-star fa-3x my-btn" id="first"></button>
                        <button type="submit" class="fa fa-star fa-3x my-btn" id="second"></button>
                        <button type="submit" class="fa fa-star fa-3x my-btn" id="third"></button>
                        <button type="submit" class="fa fa-star fa-3x my-btn" id="fourth"></button>
                        <button type="submit" class="fa fa-star fa-3x my-btn" id="fifth"></button>
                    </div>

                </div>
            </div>
            <button class="primary-btn" type="button" placeholder=" submit ">Submit </button>
        </form>

    </div>

</body>
</html>