{% load static %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"  href="{%  static  '/css/homestyle.css'  %}">
 <title>{% block title %} Hostel Booking {% endblock %}</title>
</head>
<body class="loggedin">
<nav class="navtop">
<div>
<h1>Hostels</h1>
{% if user.is_authenticated %}
<!- checks if the user is logged in and displays the specified dashboard -->
<a href="{% url 'home' %}">Home</a>
<a href="{% url 'profile' %}">Profile</a>
<a href="{% url 'logout' %}">Log Out</a>

{%  else %}
<!- if the user is not logged in it displays the following info in the dashboard -->
<a href="{% url 'home' %}">Home</a>
<a href="{% url 'login' %}">Log In</a>
<a href="{% url 'signup' %}">Register</a>
{% endif %}
</div>
</nav>
  <div class="content">
    {% block content %}
 
    {% endblock %}
  </div>
</body>
</html>